body {
    margin: 0;
    padding: 0;
    font-family: Circular Std,Source Sans Pro,sans-serif;;
    background-color: white;
}

/* 页眉样式 */
header {
    background-color: rgb(27,46,89); /* 设置页眉背景颜色 */
    color: #fff; /* 设置文字颜色 */
    padding: 10px 0; /* 设置上下内边距 */
    display: flex; /* 左右对齐 */
    align-items:center; /* 垂直居中对齐 */
}

/* Logo样式 */
.logo {
    margin-left: 10%; /* 设置Logo的左边距 */
    height: 70pt;
    align-items: center;
}

.logo .avatar{
    height: 70pt;
    /* margin-top: 3%; */
}

/* Banner样式 */
.banner {
    flex:8;
    margin-right: 30px; /* 设置Banner的右边距 */
    margin-left: 1%;
}

.banner .title{
    font-size: 28px;
    font-weight: 600;
}

.container{
    flex:1;
    padding-right: 5%;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: none;
}

/* 修改搜索框和按钮的样式 */
input[type="text"] {
    flex: 1;
    padding: 10px;
}

button {
    background-color: white;
    color: #fff;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

/* 设置每个元素的样式 */
.projects .item {
    display: flex;
    margin-bottom: 20px; /* 元素之间的垂直间距 */
    padding: 10px; /* 元素内边距 */
    background-color: white; /* 元素背景颜色 */
    border-radius: 5px; /* 元素圆角 */
    overflow: hidden; /* 隐藏溢出内容 */
}

.image-container {
    flex: 6; /* 占据一半的宽度 */
    padding-right: 5%;
    padding-top: 3%;
    padding-left: 8%;
    padding-bottom: 3%;
    margin-top: 3%;
}

/* 文字容器样式 */
.text-container {
    flex: 4; /* 占据一半的宽度 */
    padding-right: 10%;
    padding-top: 3%;
    padding-left: 0%;
    padding-bottom: 3%;
}

/* 图片样式 */
.projects .item img {
    max-width: 100%; /* 图片宽度不超过容器 */
    height: auto; /* 自适应高度 */
    display: block; /* 块级元素，使图片居中 */
}

/* 文字样式 */
.projects .item p {
    margin: 10px 0; /* 段落上下外边距 */
}

/* 大标题样式 */
.projects .item h1 {
    font-size: 46px; /* 大标题字体大小 */
    line-height: 1.2;
    color: rgb(51,108,163);
    margin: 0; /* 大标题外边距 */
}

/* 副标题样式 */
.projects .item h2 {
    font-size: 20px; /* 副标题字体大小 */
    margin: 5px 0; /* 副标题外边距 */
}

.item .text-container h3{
    font-size: 20px; /* 副标题字体大小 */
    margin: 2px 0; /* 副标题外边距 */
}

/* 描述文字样式 */
.projects .item p {
    margin: 20px 0; /* 描述文字上下外边距 */
}

/* 设置链接样式 */

.link{
    border-color: rgb(51,108,163);
    border-radius: 10px;
    border-style: solid;
    margin-right: 5px;
    padding: 6px;
}

a.link {
    text-decoration: none; /* 去除下划线 */
    color: rgb(51,108,163); /* 设置链接文本颜色为蓝色 */
    border: 2px solid rgb(51,108,163); /* 设置2px宽度的蓝色边框 */
    border-radius: 5px; /* 设置圆角半径为5px */
    padding: 5px 10px; /* 设置内边距 */
}

/* 悬停时的样式 */
a.link:hover {
    background-color: rgb(51,108,163); /* 鼠标悬停时背景颜色变为蓝色 */
    color: #fff; /* 文本颜色变为白色 */
}

footer {
    background-color: rgb(27,46,89); /* 灰色背景颜色 */
    color: #fff; /* 文字颜色为白色 */
    padding: 20px; /* 页脚内边距 */
    text-align: center; /* 文字居中对齐 */
    position: fixed; /* 固定定位 */
    left: 0; /* 从左侧开始固定 */
    bottom: 0; /* 固定在底部 */
    width: 100%; /* 宽度占满整个视口 */
    align-items:center;
}

footer .icon {
    color: #fff; /* 图标颜色为白色 */
    margin: 0 10px; /* 图标之间的间距 */
}


/* 添加新的样式规则 */

